@import "../../styles/abstracts/main";

.pui-field {
  display: flex;
  flex-direction: column;
  gap: pxToRem(4);

  .pui-input-label {
    margin-bottom: pxToRem(4);
  }

  .pui-input {
    border: 1px solid var(--input-border);
    border-radius: pxToRem(8);
    line-height: pxToRem(17);
    outline: none;
    transition: border-color 0.25s ease-in-out;
    background-color: var(--input-bg);
    font-family: "Inter", sans-serif;
    display: flex;
    overflow: hidden;
    gap: 0.5rem;
    padding: 0 pxToRem(8);
    align-items: center;

    input {
      flex: 1;
      color: var(--text-primary);
      height: pxToRem(40);
      font-size: pxToRem(14);
      border: none;
      border-radius: pxToRem(8);
      outline: none;

      &::placeholder {
        color: var(--input-placeholder);
        font-size: pxToRem(14);
        line-height: pxToRem(17);
      }
    }

    &.lg {
      height: pxToRem(48);
    }

    &:disabled {
      background-color: var(--input-disabled-bg);
      cursor: not-allowed;
      color: var(--input-disabled-text);
    }

    &:focus-within {
      border-color: var(--primary);
    }
  }

  .pui-input-error {
    font-size: pxToRem(12);
    line-height: pxToRem(15);
    color: var(--accent-red);
    padding-left: pxToRem(8);
  }
}
