@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

@import "./abstracts/main";

body {
  --primary: #364de7;
  --primary-dark: #2b3eb9;
  --white: #ffffff;

  --text-primary: #2c2e33;

  --grey-100: #d6dae1;
  --grey-400: #7d828b;

  font-family: "Inter", sans-serif;
}
