@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

@import "./abstracts/main";

body {
  --primary: #364de7;
  --primary-dark: #2b3eb9;
  --white: #ffffff;

  --text-primary: #202225;

  --card-bg: #ffffff;
  --card-box-shadow: 0px pxToRem(4) pxToRem(32) rgba(0, 0, 0, 0.08);

  --grey-100: #d6dae1;
  --grey-400: #7d828b;
  --grey-800: #202225;

  font-family: "Inter", sans-serif;
}

@media (prefers-color-scheme: dark) {
  body {
    --text-primary: #ffffff;

    --card-bg: #36393f;
    --card-box-shadow: 0px pxToRem(4) pxToRem(32) rgba(0, 0, 0, 0.25);
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
