@import "../../styles/abstracts/main";

.pui-avatar {
  border-radius: 100%;
  object-fit: cover;
  object-position: center;
  color: var(--grey-500);
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  font-weight: 600;

  &.blank {
    background-color: var(--grey-50);
  }
}
