@import "../../styles/abstracts/main";

.pui-btn {
  --btn-primary: var(--primary);
  --btn-primary-dark: var(--primary-dark);

  --btn-bg: var(--btn-primary);
  --btn-text: var(--white);
  --btn-hover-text: var(--white);
  --btn-border: var(--btn-primary);
  --btn-hover-bg: var(--btn-primary-dark);

  border: none;
  height: pxToRem(40);
  padding: 0 pxToRem(12);
  font-weight: 600;
  font-size: pxToRem(14);
  line-height: pxToRem(17);
  border-radius: pxToRem(8);
  cursor: pointer;
  transition: all 0.25s ease-in-out;
  will-change: background;
  outline: none;
  background: var(--btn-bg);
  color: var(--btn-text);
  border: 1.5px solid var(--btn-border);

  &:hover {
    background: var(--btn-hover-bg);
    color: var(--btn-hover-text);
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }

  &.pui-btn-lg {
    height: pxToRem(45);
    font-size: pxToRem(16);
    line-height: pxToRem(19);
  }

  &.pui-btn-outline {
    --btn-bg: transparent;
    --btn-text: var(--btn-primary);
    --btn-hover-bg: var(--btn-primary);
    --btn-hover-text: var(--white);
  }

  &.pui-btn-borderless {
    --btn-bg: transparent;
    --btn-text: var(--btn-primary);
    --btn-hover-bg: rgba(23, 24, 26, 0.08);
    --btn-hover-text: var(--btn-primary-dark);
    --btn-border: transparent;
  }

  &.pui-btn-secondary {
    --btn-primary: var(--grey-900);
    --btn-primary-dark: var(--grey-900);
  }

  &.pui-btn-danger {
    --btn-primary: var(--accent-red);
    --btn-primary-dark: var(--accent-red);
  }
}
