@import "../../styles/main";

.pui-btn {
  // $self: &;
  border: none;
  height: pxToRem(40);
  padding: 0 pxToRem(12);
  font-weight: 600;
  font-size: pxToRem(14);
  line-height: pxToRem(17);
  border-radius: pxToRem(8);
  cursor: pointer;
  transition: all 0.25s ease-in-out;
  will-change: background;
  outline: none;

  &:disabled {
    cursor: not-allowed;
  }

  &.pui-btn-lg {
    height: pxToRem(48);
    font-size: pxToRem(16);
    line-height: pxToRem(19);
  }

  &.pui-btn-primary {
    background: var(--primary);
    color: var(--white);

    &:hover {
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
        var(--primary);
    }

    &:disabled {
      background: var(--grey-400);
      color: var(--grey-100);
    }
  }

  &.pui-btn-secondary {
    border: 1.5px solid var(--primary);
    color: var(--primary);
    background: transparent;

    &:hover {
      background: var(--primary);
      color: var(--white);
    }

    &:disabled {
      border-color: var(--grey-400);
      color: var(--grey-400);
    }
  }

  &.pui-btn-ghost {
    color: var(--primary);
    background: transparent;

    &:hover {
      color: var(--primary-dark);
    }

    &:disabled {
      color: var(--grey-400);
    }
  }
}
